<!DOCTYPE html>

<html lang="en">

<head>
	<title>Restaurants</title>
    <link rel="icon" type="image/png" href="/server/public/images/logo.png">
    <link rel="stylesheet" href="/styles.css">
    <script src="scripts/header.js" defer></script>
    <script src="scripts/restaurantCards.js" defer></script>
</head>

<body>
    <header class="header"></header>
    <nav class="navbar"></nav>

    <div class="columns">
    <div class="rest-grid">
        <% for (let restaurant of restaurants) { %>
            <div class="card" data-id="<%= restaurant.id %>">
                <button class="delete-btn">X</button>
                <img src="<%= restaurant.photo %>" alt="<%= restaurant.name %>">
                <p><%= restaurant.name %></p>
                <p><%= restaurant.address %></p>
                <p><%= restaurant.phone %></p>
            </div>
        <% } %>
    </div>
</div>

    <footer class="footer"></footer> 
</body>

</html>
